# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
Makefile*
*build-*
*.autosave
*.qmlproject.user
*.qmlproject.user.*
CMakeLists.txt.user*
.qtc_clangd

# Output
bin/spectrum
bin/*.exe
tmp
out
__pycache__
*.drawio.bkp
