// Setting the Version Info
1 VERSIONINFO
PRODUCTVERSION 	7,0,0,0
FILEVERSION    	7,0,0,0
FILEOS         	0x4
FILETYPE       	1
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "orion-project.org\0"
            VALUE "FileVersion",      "7.0.0.0\0"
            VALUE "InternalName",     "spectrum\0"
            VALUE "LegalCopyright",   "Chunosov N.I. (c) 2005-2020\0"
            VALUE "OriginalFilename", "spectrum.exe\0"
            VALUE "ProductName",      "spectrum\0"
            VALUE "ProductVersion",   "7.0.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252 /* English */
    END
END
